* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.bgimage {
    width: 100%;
    height: 100%;
    background: url("assets/NaturePic1.webp"); 
    background-size: cover;
    transition: 0.5s;
  /*  filter: blur(10px);
    -webkit-filter: blur(10px);  */
}

.weather-container {
    width: 93%;
    height: 89%;
    border-radius: 1.5rem;
    border: 1px solid #fff; 
 /* background: url("assets/NaturePic1.webp"); 
    background-size: cover;
    background-repeat: no-repeat;  */
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}  
.errorPopup {
    width: 15rem;
    color: black;
    z-index: 5;
    /*background-color: gray;  */
    border-radius: 0.7rem;
    padding: 0.5rem 0.6rem;
    position: absolute;
    top: 3%;
    left: 35%;
    display: flex;
    align-items: center;
    visibility: hidden;
    user-select: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0.5rem 1.25rem rgba(0,0,0,0.2); 
    transition: 0.4s ease;
}
.errorPopup .fa-triangle-exclamation {
    color: #106368;
   box-shadow: 0 0.5rem 1.25rem rgb(137 126 126 / 20%); 
    margin-right: 0.6rem;
    user-select: none;
}
.errorPopup .fa-sort-down {
    position: fixed;
    top: 65%;
    left: 41%;
    z-index: -1;
    /*color: gray; */
    font-size: 1.2rem;
    user-select: none;
    background: rgba(255, 255, 255, 0.65);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.weather-container header {
    margin: 0 0.5rem;
    padding: 1rem;
 /* background: greenyellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;   
}
.weather-container header .grayglass-effect {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
header .time-date {
  /* background: pink; */
    color: black;
    width: 25%;
    border-radius: 1rem;
    padding: 0 0.8rem;
    user-select: none;
}
header .time-date h2 {
    font-size: 1.8rem;
    font-weight: bold;
}
header .searchBox {
 /* background: yellow;  */
    width: 35%;
    height: 2.3rem;
    padding: 0 0.5rem;
    border-radius: 2rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1000;
    user-select: none;
    cursor: pointer;
}
header .searchBox i {
    font-size: 1.2rem;
    color: #ffffff;
}
header .searchBox input {
    height: 100%;
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 0 0.4rem;
    flex: 1;
}
/*
header .searchBox #suggestion-box {
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    top: 110%;
    background: #fff;
    width: 100%;
    z-index: 99999;
    border: 2px solid red;
}
.suggestion-item {
  padding: 8px;
  cursor: pointer;
}
.suggestion-item:hover {
  background-color: #f0f0f0;
} */

header .searchBox #suggestion-box {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 110%;
    left: 0;
    border-radius: 12px;
    z-index: 9999;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(15px);
   -webkit-backdrop-filter: blur(15px);
  /*  border: 1px solid rgba(255, 255, 255, 0.3); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);   
}
.suggestion-item {
    padding: 10px 14px;
    cursor: pointer;
    color: #000;
    transition: background 0.2s ease, transform 0.1s ease;
}
.suggestion-item:hover {
    background: rgba(255, 255, 255, 0.3);  
    backdrop-filter: blur(10px);
    transform: scale(1.02);
    border-radius: 8px;
}

header .curr-location {
  /* background: green;  */
    width: 18%;
    height: 2.3rem;
    padding: 0 0.8rem 0 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    border-radius: 2rem;
    user-select: none;
    cursor: pointer;
}
header .curr-location i {
   font-size: 1.2rem;
 /*  color: #153D4C;   */
    background: linear-gradient(to right, #08B3E5, #2AF598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
header .curr-location span {
    font-size: 1rem;
    font-weight: 500;
}
/* Celsius-Fahrenheit toggle button */
header .tempSwitch {
    position: relative;
    display: inline-block;
    width: 6%;
    height: 2rem;
    /* background: green; */
}
header .tempSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}
header .tempSwitch .tempSlider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #153D4C;
    transition: 0.4s;
    border-radius: 3rem;
    cursor: pointer;
}
.tempSwitch .tempSlider:before {
    position: absolute;
    content: "C";
    width: 1.4rem;
    height: 1.4rem;
    left: 0.3rem;
    bottom: 0.3rem;
    background-color: #ffffff;
    transition: 0.4s;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #153D4C;
}
input:checked + .tempSlider {
    background: #16A085;
}
input:checked + .tempSlider:before {
    transform: translateX(3rem);
    content: "F";
    color: #16A085;
}
#darklightToggle {
    width: 11%;
    background-color: #000000;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 1.3rem;
    color:  #eee;
    font-size: 1rem;
    outline: none;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    user-select: none;
    cursor: pointer;
}
.container {
    width: 97%;
    height: 79%;
    margin: auto;
    display: flex;
    gap: 0.8rem;  
}   
/*
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 0.8rem;
    padding: 0 1rem;
}
*/
.container .locationForecast {
   /* background-color: rgb(144, 82, 92);  */
    flex-basis: 25%;
    height: 106%; 
    user-select: none;
}
.container .lightgray-effect {
    background: rgba(142, 139, 139, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
} 
.container .grayglass-effect {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
/*
.locationForecast {
    flex: 1;
    min-width: 280px;
}

.overviewHourly {
    flex: 2;
    min-width: 300px;
}
*/
.locationForecast .loctnTemp {
    /*  background: green;  */
    width: 100%;
    height: 45%;
    border-radius: 1rem;
    padding: 0.7rem 0.4rem 0.2rem;
    margin-bottom: 0.8rem;  
}
.loctnTemp .location {
  /*  background: yellow;   */
    width: 47%;
    padding: 0.3rem 0.4rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.loctnTemp .location .fa-location-dot {
   /* color: #153D4C;  */
    margin-right: 0.4rem;
    background: linear-gradient(to right, #08B3E5, #2AF598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.loctnTemp .location span {
    display: inline; 
    text-align: left; 
    white-space: nowrap; 
    transition: width 0.3s ease; 
}
.locationForecast .weatherDetails {
  /*  background-color: pink;   */
    height: 10.2rem;
    display: flex;
    margin: 0.7rem 0.5rem;
    border-radius: 1rem;
    padding: 0 0.45rem 0.5rem;
}
.weatherDetails .weatherIcon {
   /* background:rgb(142, 105, 36);  */
    flex-basis: 55%;
}
.weatherDetails .weatherIcon img {
    width: 5.5rem;
}
.weatherIcon .weather-name {
    font-size: 1.2rem;
    font-weight: 700;
}
.weatherIcon p {
    font-size: 0.9rem;
    line-height: 1.2;
}
.weatherDetails .temp {
  /*  background: rgb(197, 145, 51);  */
    padding-top: 1.4rem;
}
.weatherDetails .temp h2 {
    font-size: 3.5rem;
    background: linear-gradient(to right, #34c7f2, #2AF598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.weatherDetails .temp p {
    font-size: 0.9rem;
    line-height: 1.3;
}
.weatherDetails .temp .highlowTemp {
    display: flex;
    background: #153D4C;
    padding: 0.2rem 0.3rem;
    border-radius: 0.5rem;
    gap: 0.4rem;
}
.temp .highlowTemp p {
    color: #ffffff;
}
.temp .highlowTemp .high {
    border-right: 1px solid #fff;
    padding-right: 0.2rem;
}

/* 7 Days Forecast Start */
.locationForecast .days-title {
    /*background: orange; */
    border-radius: 1rem;
    padding: 0.4rem 1.2rem;
    font-weight: bold;
}
.locationForecast .daysForecast {
 /*   background-color: rgb(44, 85, 65);    */
    width: 100%;
    height: 53%;
    border-radius: 1rem;
    padding: 0.7rem 0.8rem;
}
.daysForecast .tempLists {
    height: 13.3rem;
    border-radius: 1rem;
    overflow-y: scroll;
    scrollbar-color: #153D4C #c8c4c4;
}
.daysForecast .tempLists .days-lists {
   /* background: rgb(164, 72, 87);  */
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0 0.5rem;
    margin-bottom: 0.4rem;
}
.daysForecast .tempLists .days-lists img {
    width: 1.87rem;
}
.daysForecast .days-lists:last-child {
    margin-bottom: 0;
}
.daysForecast .days-lists .wname {
    width: 7.4rem;
   /* background: greenyellow;  */
}
.daysForecast .days-lists .nxt-temp {
    width: 3rem;
  /*  background:rgb(6, 100, 135);  */
}
.daysForecast .days-lists .dayListMonth {
    width: 3rem;
    margin-left: 0.1rem;
}

/* Overview-Hourly Forecast Main Container */
.overviewHourly {
  /*  background-color: rgb(142, 105, 36);   */
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    gap: 0.5rem;
    user-select: none;
}
.overviewHourly .todaysOverview {
 /*   background-color:aquamarine;   */
    width: 100%; 
    height: 65%;  
    padding: 0.6rem 0.8rem;
    border-radius: 1rem;
}
.overviewHourly .lightgray-effect {
    background: rgba(142, 139, 139, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.overviewHourly .todaysOverview .airqlty-sunriseset {
    display: flex;
    gap: 0.8rem;
    margin: 0.6rem 0 0.6rem 0;
}
.todaysOverview .airQualityIndx {
 /*   background: rgb(184, 184, 65);    */
    border-radius: 1rem;
    flex-basis: 80%;
    padding: 0.5rem 1rem;
}
.airContainer {
    display: flex;
}
.airContainer .airQltyIndexValue {
   /* background: rgb(168, 168, 50);  */
    width: 34%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.airQltyIndexValue .airIndexValue {
   /* background: violet; */
    width: 10rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 0.93rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(135deg, rgb(3 17 22 / 83%), rgb(30 206 215 / 82%));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgb(124 153 158 / 30%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.airQltyIndexValue .airIndexDescrptn {
    width: 5.5rem;
    height: 1.4rem;
    background: #fdff26;
    color: #2e2929;
    font-weight: 700;
    padding: 0.9rem 0.22rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.airContainer .airComponents {
   /* background: rgb(81, 191, 81);  */
    width: 74%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 0.75rem;
    color: white;
    background: linear-gradient(135deg, rgb(3 17 22 / 83%), rgb(30 206 215 / 82%));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgb(124 153 158 / 30%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.airContainer .airComponents .compValuesRow1 {
   /* background: pink; */
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0.10rem 0.8em;
}
.airContainer .airComponents .compValuesRow1 .compValues {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 10rem;
    height: 3.4rem;
  /*  background:#4d9889;  */
    padding: 1rem 0.4rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);      
}
.airContainer .airComponents .compValuesRow1 .compValues i {
    font-size: 1.35rem;
   /* color: #5b9f0d; */
   background: linear-gradient(to right, #08B3E5, #2AF598);   
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.airComponents .compValuesRow1 .compValues .compText {
    font-size: 1.2rem;
}
.airComponents .compValuesRow1 .compValues .compValue {
    font-size: 1rem;
}
.airContainer .airComponents .compValuesRow2 {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0.10rem 0.8em;  
}
.airContainer .airComponents .compValuesRow2 .compValues {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 10rem;
    height: 3.4rem;
  /*  background:#0c473c; */
    padding: 1rem 0.4rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);      
} 
.airContainer .airComponents .compValuesRow2 .compValues i {
    font-size: 1.35rem;
  /*  color: #5b9f0d; */
    background: linear-gradient(to right, #08B3E5, #2AF598);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.airComponents .compValuesRow2 .compValues .compText {
    font-size: 1.2rem;
}
.airComponents .compValuesRow2 .compValues .compValue {
    font-size: 1rem;
}
.todaysOverview .sunrise-set {
 /*   background:rgb(44, 85, 65);  */
    width: 20%;
    border-radius: 1rem;
   /* flex-basis: 18%;  */
    padding: 0.4rem 0.9rem;
    user-select: none;
}
.sunrise-set .suntimeData {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 18px;
    padding: 0.4rem 0;
    margin-bottom: 0.2rem;
} 
.sunrise-set .suntimeData img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.sunrise-set .suntimeData h3 {
    font-size: 1rem;
}
.sunrise-set .suntimeData div span {
    font-size: 1.1rem;
}
.todaysOverview .tempDetailsSec {
  /*  background:#64302c;   */
    display: flex;
    gap: 0.53rem;
}
.todaysOverview .tempDetailsSec .tempDetail {
  /*  background:#369a83;     */
    width: 18%;
    height: 4.6rem;
    padding: 0.8rem;
    border-radius: 1rem;
}
.tempDetailsSec .tempDetail h5 {
    font-size: 0.9rem;
}
.tempDetailsSec .tempDetail p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tempDetailsSec .tempDetail p i {
    margin-right: 0.8rem;
    padding: 0.2rem 0 0.1rem;
    font-size: 1.9rem;
    background: linear-gradient(to right, #08B3E5, #2AF598); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.tempDetailsSec .tempDetail p .wicon {
    margin-right: 0.8rem;
    stroke: url(#svgIconGradient);
}
.overviewHourly .hourlyForecast {
   /* background-color:rgb(100, 31, 100);       */
    border-radius: 1rem;
    padding: 0.8rem;
    width: 100%; 
    height: 55%;
}
.hourlyForecast .hourlytempchart {
    border-radius: 1rem;
    height: 87%;
}
/*
.hourlyForecast .hourlytempchart canvas {
    width: 800px;
    height: 100px;
} */

/*
.overviewHourly .todaysOverview,
.overviewHourly .hourlyForecast {
    width: 100%;
}
*/
.errorAlert {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    width: 24rem;
    height: 8rem; 
    position: fixed;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 1.95rem 1.25rem;
    border-radius: 0.9rem;
    color: black;
    font-weight: 500;
    box-shadow: 0 0.5rem 1.25rem rgba(0,0,0,0.2);
    transition: top 0.4s ease;
    z-index: 9999;
    user-select: none;
}
.errorAlert.show {
    top: 20px;
} 
.errorAlert .alertIcon {
    font-size: 1rem;
    background: white;
    padding: 12px;
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(231, 225, 225);
    box-shadow: 0 0.5rem 1.25rem rgba(0,0,0,0.2);
    user-select: none;
}
.errorAlert .alertIcon .fa-triangle-exclamation {
    font-size: 1rem;
    color: #153D4C;
}
.errorAlert #error-alert-msg {
    width: 28rem;
    font-weight: 500;
    word-wrap: break-word;
    line-height: 1.3;
    user-select: none;
}
.errorAlert .fa-square-xmark {
    font-size: 1.5rem;
    cursor: pointer;
    color: #153D4C;
}

.dark-mode .time-date,
.dark-mode .curr-location span,
.dark-mode .days-title,
.dark-mode .overview-txt,
.dark-mode .hrHeading-Txt {
    color: #ffffff;
}
.dark-mode .lightgray-effect {
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}  
.dark-mode .grayglass-effect {
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.dark-mode .weather-container header .grayglass-effect {
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.dark-mode .errorPopup {
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}
.dark-mode header .searchBox #suggestion-box {
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(12px);
}
.dark-mode .suggestion-item {
    color: #e1e1e1;
}
.dark-mode .suggestion-item:hover {
    background: rgba(230, 226, 226, 0.35);  
    backdrop-filter: blur(10px);
    transform: scale(1.02);
    border-radius: 8px;
}
.dark-mode .errorAlert {
    color: #f0eded;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.dark-mode .errorAlert .fa-square-xmark {
    color: #0a9b84;
}
.dark-mode .errorAlert .alertIcon .fa-triangle-exclamation {
    color: #0a9b84;
}

@media (min-width: 320px) and (max-width: 480px) {
    .bgimage {
        width: 100%;
        min-height: 318vh;
        height: auto;
        background: url(assets/bg-imgGIF.gif); 
        background-size: cover;
        transition: 0.5s;
    }
    .weather-container {
        width: 95%;
        margin: 1rem auto;
        height: auto;
        min-height: 307vh;
        transform: none;
        position: absolute;
        top: 4%;
        left: 2%;
    }  
    header {
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    header .time-date {
        width: 100%;
    }
    header .searchBox {
        width: 100%;
    }
    header .curr-location {
        width: 41%;
    }
    header .tempSwitch {
        width: 19%;
    }
    input:checked + .tempSlider:before {
        transform: translateX(2.8rem);
    }
    #darklightToggle {
        width: 36%;
        padding: 0.5rem 1rem;
    }
    .container {
        width: 100%;
        flex-direction: column;
        padding: 0 1.4rem;
    }
    .locationForecast, .overviewHourly {
        width: 100%;
    }
    .daysForecast .tempLists .days-lists img {
        width: 2.85rem;
    }
    .daysForecast .days-lists .wname {
        width: 11.85rem;
    }
    .daysForecast .days-lists .nxt-temp {
        width: 3.5rem;
    }
    .daysForecast .days-lists .dayListMonth {
        width: 3rem;
    }
    .overviewHourly .todaysOverview {
        width: 100%;
        margin-top: 2rem;
    }
    .airContainer .airQltyIndexValue {
        width: 100%;
    }
    .airContainer {
        flex-direction: column;
    }
    .todaysOverview .sunrise-set {
        width: 100%;
        display: flex;
        gap: 12px;
        padding: 0 1.4rem;
    }
    .todaysOverview .airqlty-sunriseset {
        flex-direction: column;
    }
    .sunrise-set .suntimeData {
        display: flex;
        gap: 13px;
    }
    .sunrise-set .suntimeData img {
        width: 2.18rem;
        height: 2.15rem;
        margin-right: 0.12rem;
    }
    .sunrise-set .suntimeData h3 {
        font-size: 0.7rem;
    }
    .sunrise-set .suntimeData div span {
        font-size: 0.7rem;
    }
    .todaysOverview .tempDetailsSec {
        display: flex;
        gap: 0.90rem;
        flex-wrap: wrap;
        padding: 0 0.2rem;
    }
    .todaysOverview .tempDetailsSec .tempDetail {
        width: 48%;
    }
    .airContainer .airComponents {
        width: 100%;
        height: 33%;
        display: flex;
        flex-direction: row;
        padding: 1.2rem 1rem;
    }
    .airContainer .airComponents .compValuesRow1 {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 0.10rem 0.6em;
    }
     .airContainer .airComponents .compValuesRow1 .compValues {
        width: 9rem;
        display: flex;
        gap: 8px;
    }
    .airContainer .airComponents .compValuesRow1 .compValues i {
        font-size: 1.12rem;
    }
    .airComponents .compValuesRow1 .compValues .compText {
        font-size: 0.9rem;
    }
    .airComponents .compValuesRow1 .compValues .compValue {
        font-size: 0.8rem;
    }
    .airContainer .airComponents .compValuesRow2 {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 0.10rem 0.6em;
    }
    .airContainer .airComponents .compValuesRow2 .compValues {
        width: 9rem;
        display: flex;
        gap: 8px;
    }
    .airContainer .airComponents .compValuesRow2 .compValues i {
        font-size: 1.12rem;
    }
    .airComponents .compValuesRow2 .compValues .compText {
        font-size: 0.9rem;
    }
    .airComponents .compValuesRow2 .compValues .compValue {
        font-size: 0.8rem;
    }
    .daysForecast .tempLists {
        height: auto;
        max-height: 12.5rem;
    }
    .overviewHourly .hourlyForecast {
        width: 100%;
        height: 25%;
        padding: 1rem 1.4rem;
        margin-top: 0.93rem;
    }
    .hourlyForecast .hourlytempchart {
        overflow-x: auto;
        width: 100%;
        height: auto;
    }
    /*
    .hourlyForecast .hourlytempchart canvas {
        min-width: 50rem;  
        min-height: 12.5rem;
        padding-top: 0.75rem;
    } */
    .hourlyForecast .hourlytempchart canvas {
        width: 100% !important;
        min-width: unset;
        height: 100% !important;
        min-height: 25vh;
    }
    .container, .locationForecast, .overviewHourly {
        min-width: 0;
    }
    .errorAlert {
        width: 85%;
        top: -1200px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .bgimage {
        width: 100%;
        min-height: 238vh;
        height: auto;
        background: url(assets/bg-imgGIF.gif); 
        background-size: cover;
        transition: 0.5s;
    }
    .weather-container {
        width: 95%;
        margin: 1rem auto;
        height: auto;
        min-height: 228vh;
        transform: none;
        position: absolute;
        top: 4%;
        left: 2%;
    }  
    header {
        gap: 0.5rem;
    }
    header .time-date {
        width: 25%;
        padding: 0.5rem 0.1rem;
    }
    header #time {
        font-size: 1.5rem;
    }
    header #date {
        font-size: 0.8rem;
    }
    header .searchBox {
        width: 27%;
    }
    header .searchBox i {
        font-size: 1rem;
    }
    header .searchBox input {
        width: 0.3rem;
    }
    header .curr-location {
        width: 20%;  
    }
    header .curr-location span {
        font-size: 0.65rem;
        width: 4.85rem;
    }
    header .tempSwitch {
        width: 8%;
    }
    input:checked + .tempSlider:before {
        transform: translateX(1.3rem);
    }
    #darklightToggle {
        width: 15%;
        font-size: 0.65rem;
        padding: 0.7rem 0.4rem;
    }
    .container {
        width: 100%;
        flex-direction: column;
        padding: 0 1.4rem;
    }
    .container .locationForecast {
        width: 100%;
        display: flex;
        gap: 10px;
    }
    .locationForecast .loctnTemp {
        height: 13%;
    }
    .locationForecast .weatherDetails {
        height: 12.3rem;
        padding: 0.5rem 0.3rem;
    }
    .locationForecast, .overviewHourly {
        width: 100%;
    }
    .locationForecast .daysForecast {
        padding: 0.8rem 0.8rem;
    }
    .daysForecast .tempLists .days-lists img {
        width: 2rem;
    }
    .daysForecast .days-lists .wname {
        width: 9rem;
    }
    .daysForecast .days-lists .nxt-temp {
        width: 3.5rem;
    }
    .daysForecast .days-lists .dayListMonth {
        width: 3rem;
    }
    .overviewHourly .todaysOverview {
        width: 100%;  
    }
    .airContainer .airQltyIndexValue {
        width: 100%;
        height: 14.4rem;
        display: flex;
        align-items: center;
    }
    .airContainer {
        flex-direction: row;
    }
    .todaysOverview .sunrise-set {
        width: 100%;
        display: flex;
        gap: 12px;
        padding: 0 1.4rem;
    }
    .todaysOverview .airqlty-sunriseset {
        flex-direction: column;
    }
    .sunrise-set .suntimeData {
        display: flex;
        gap: 13px;
        width: 12rem;
    }
    .sunrise-set .suntimeData img {
        width: 3.18rem;
        height: 3rem;
        margin-right: 0.12rem;
    }
    .sunrise-set .suntimeData h3 {
        font-size: 1.1rem;
    }
    .sunrise-set .suntimeData div span {
        font-size: 0.9rem;
    }
    .todaysOverview .tempDetailsSec {
        display: flex;
        gap: 1.3rem;
        flex-wrap: wrap;
        padding: 1rem 0rem;
    }
    .todaysOverview .tempDetailsSec .tempDetail {
        width: 31%;
    }
    .airContainer .airComponents {
        width: 100%;
        height: 14.5rem;
        display: flex;
        flex-direction: row;
        padding: 1.2rem 1rem;
    }
    .airContainer .airComponents .compValuesRow1 {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 0.10rem 0.6em;
    }
    .airContainer .airComponents .compValuesRow1 .compValues {
        width: 9rem;
        display: flex;
        gap: 8px;
    }
    .airContainer .airComponents .compValuesRow1 .compValues i {
        font-size: 1.15rem;
    }
    .airComponents .compValuesRow1 .compValues .compText {
        font-size: 1.1rem;
    }
    .airComponents .compValuesRow1 .compValues .compValue {
        font-size: 1rem;
    }
    .airContainer .airComponents .compValuesRow2 {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 0.10rem 0.6em;
    }
    .airContainer .airComponents .compValuesRow2 .compValues {
        width: 9rem;
        display: flex;
        gap: 8px;
    }
    .airContainer .airComponents .compValuesRow2 .compValues i {
        font-size: 1.15rem;
    }
    .airComponents .compValuesRow2 .compValues .compText {
        font-size: 1.1rem;
    }
    .airComponents .compValuesRow2 .compValues .compValue {
        font-size: 1rem;
    }
    .daysForecast .tempLists {
        height: auto;
        max-height: 12.5rem;
    }
    .overviewHourly .hourlyForecast {
        width: 100%;
        height: 16.4rem;
        padding: 1rem 1.4rem;
        margin-top: 0.93rem;
    }
    .hourlyForecast .hourlytempchart {
        overflow-x: auto;
        width: 100%;
        height: auto;
    }
    .hourlyForecast .hourlytempchart canvas {
        min-width: 50rem;  
        min-height: 12.5rem;
        padding-top: 0.75rem;
    }
    .errorAlert {
        width: 45%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .bgimage {
        width: 100%;
        min-height: 207vh;
        height: auto;
        background: url(assets/bg-imgGIF.gif); 
        background-size: cover;
        transition: 0.5s;
    }
    .weather-container {
        width: 95%;
        margin: 1rem auto;
        height: auto;
        min-height: 196vh;
        transform: none;
        position: absolute;
        top: 4%;
        left: 2%;
    }  
    header {
        gap: 0.5rem;
    }
    header .time-date {
        width: 25%;
        padding: 0.5rem 0.1rem;
    }
    header #time {
        font-size: 1.5rem;
    }
    header #date {
        font-size: 0.8rem;
    }
    header .searchBox {
        width: 44%;
    }
    header .searchBox i {
        font-size: 1rem;
    }
    header .searchBox input {
        width: 0.3rem;
    }
    header .curr-location {
        width: 9.5rem;  
    }
    header .curr-location span {
        font-size: 0.69rem;
        width: 5.2rem;
    }
    header .tempSwitch {
        width: 3.5rem;
    }
    input:checked + .tempSlider:before {
        transform: translateX(1.4rem);
    }
    #darklightToggle {
        font-size: 0.69rem;
        padding: 0.6rem 0.5rem;
    }
    .container {
        width: 100%;
        flex-direction: column;
        padding: 0 1.4rem;
    }
    .container .locationForecast {
        display: flex;
        gap: 10px;
    }
    .locationForecast .loctnTemp {
        width: 45%;
        height: 17.2rem;
    }
    .locationForecast .daysForecast {
        width: 55%;
        padding: 0.9rem 0.8rem;
    }
    .locationForecast .weatherDetails {
        height: 12.3rem;
        padding: 0.5rem 0.3rem;
    }
    .locationForecast, .overviewHourly {
        width: 100%;
    }
    .daysForecast .tempLists {
        height: 13rem;
    }
    .daysForecast .tempLists .days-lists img {
        width: 3rem;
    }
    .daysForecast .days-lists .wname {
        width: 16.85rem;
    }
    .daysForecast .days-lists .nxt-temp {
        width: 3.5rem;
        text-align: center;
    }
    .daysForecast .days-lists .dayListMonth {
        width: 3rem;
        margin-left: 1rem;
        text-align: center;
    }
    .overviewHourly .todaysOverview {
        width: 100%; 
    }
    .todaysOverview .airQualityIndx {
        width: 77%;
    }
    .airContainer .airQltyIndexValue {
        width: 38%;
        height: 15rem;
    } 
    .todaysOverview .sunrise-set {
        width: 24%;
        height: 16.9rem;
    } 
    .sunrise-set .suntimeData {
        display: flex;
        gap: 13px;
        width: 12rem;
        padding: 1rem 0.2rem;
    } 
    .sunrise-set .suntimeData img {
        width: 3.18rem;
        height: 3rem;
        margin-right: 0.12rem;
    }
    .sunrise-set .suntimeData h3 {
        font-size: 1.18rem;
        margin-bottom: 0.3rem;
    }
    .sunrise-set .suntimeData div span {
        font-size: 1.1rem;
    } 
    .airContainer .airComponents {
        width: 72%;
        height: 15rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1.2rem 1rem;
    }  
    .airContainer .airComponents .compValuesRow1 {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 0.10rem 0.6em;
    }
    .airContainer .airComponents .compValuesRow1 .compValues {
        width: 10.2rem;
        display: flex;
        gap: 8px;
    }
    .airContainer .airComponents .compValuesRow1 .compValues i {
        font-size: 1.25rem;
    }
    .airComponents .compValuesRow1 .compValues .compText {
        font-size: 1.1rem;
    }
    .airComponents .compValuesRow1 .compValues .compValue {
        font-size: 1rem;
    }
    .airContainer .airComponents .compValuesRow2 {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 0.10rem 0.6em;
    }
    .airContainer .airComponents .compValuesRow2 .compValues {
        width: 10.2rem;
        display: flex;
        gap: 8px;
    }
    .airContainer .airComponents .compValuesRow2 .compValues i {
        font-size: 1.25rem;
    }
    .airComponents .compValuesRow2 .compValues .compText {
        font-size: 1.1rem;
    }
    .airComponents .compValuesRow2 .compValues .compValue {
        font-size: 1rem;
    } 
    .todaysOverview .tempDetailsSec .tempDetail {
        width: 18%;
        padding: 0.8rem 0.5rem;   
    }
    .overviewHourly .hourlyForecast {
        width: 100%;
        height: 16.4rem;
        padding: 1rem 1.4rem;
        margin-top: 0.93rem;
    }
    .hourlyForecast .hourlytempchart {
        overflow-x: auto;
        width: 100%;
        height: auto;
    }
    .hourlyForecast .hourlytempchart canvas {
        min-width: 50rem;  
        min-height: 12.5rem;
        padding-top: 0.75rem;
    }
    .errorAlert {
        width: 45%;
    }
}

@media (min-width: 1025px) and (max-width: 1500px) {
    .container {
        max-width: 1350px;
        height: auto;
        margin: 0 auto;
    }
    .daysForecast .days-lists .wname {
        width: 7rem;
    }
    .daysForecast .days-lists .dayListMonth {
        width: 3rem;
        text-align: center;
    }
    .todaysOverview .airQualityIndx {
        height: 72%;
    }
    .sunrise-set .suntimeData {
        display: flex;
        gap: 16px;
    }
}


